<section>
    <div class="game-card">
<h1>Nytt Spel</h1>

<form class="row" method="post">
    <div class="col-12">
      <label for="gameTitle" class="form-label fs-5">Titel</label>
      <input type="text" class="form-control" id="gameTitle" name="title">
    </div>
    <div class="col-12">
      <label for="description" class="form-label fs-5">Beskrivning</label>
      <textarea
            name="description"
            class="form-control"
        ></textarea>
      </div>   
    <div class="col-12">
      <label for="newgameimage" class="form-label fs-5">Bild</label>
      <input type="text" class="form-control" id="newgameimage" name="image_url">
    </div> 
    
    <div class="col-12">
      <label for="inputGenre" class="form-label fs-5">Genre</label>
      <select id="inputGenre" class="form-select" name="genre">
        <option selected disabled hidden value="choose">Välj Genre</option>
        <% genreList.forEach(genre => { %>
          <option name="<%=genre.genre%>"><%=genre.genre%></option>          
          <% }) %>
      </select>
    </div>
    <div class="col-12">
      <label for="launchYear" class="form-label fs-5">Lanseringsår</label>
      <input type="date" class="form-control" id="launchYear" name="launch_year">
    </div>
    <div class="col-12">
      <button class="btn btn-primary submitButton">Lägg Till</button>
    </div>
  </form>
</div>
</section>